{% load static %}


<!DOCTYPE html>
<html lang="en">


<!-- molla/product-centered.html  22 Nov 2019 10:03:13 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zelco Industries</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Zelco">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom-style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nouislider/nouislider.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">

            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header">

                            <a
                                href="https://wa.me/{{ contact.phone_number|urlencode }}?text={{ contact.default_message|urlencode }}"
                                class="social-icon social-youtube"
                                title="WhatsApp"
                                target="_blank">
                                <i class="icon-whatsapp" style="font-size: 48px;"></i>
                             </a>

                        </div>

                        <!-- <div class="header-dropdown">
                            <a href="{% url 'error-404' %}"><i class="fa fa-envelope-o" style="font-size:12px">  graphmaster@zelco.com</i></a>

                        </div> -->
                    </div>

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>

                                    <li><a href="{% url 'error-404' %}"><i class="icon-facebook" style="font-size:24px"></i> </a></li>


                                    <li><a href="{% url 'error-404' %}" data-toggle="modal"><i class="icon-instagram" style="font-size:24px"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="header-middle sticky-header">
                <nav class="navbar navbar-expand-lg custom-navbar">
                    <a class="navbar-brand custom-brand" href="{%url 'index'%}">Zelco Industries</a>
                    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link custom-link" href="{% url 'shop'%}">Products<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link custom-link" href="{% url 'about' %}">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link custom-link" href="{% url 'contact' %}">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- <div class="container">


                   <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                         <header class="topbar">
                            <div class="topbar-content">

                                <a href="{% url 'index' %}" class="logo">

                                        <h1 class="title">Zelco Industries </h1>

                                </a>
                                <nav class="topbar-nav">
                                    <a href="{% url 'shop' %}" class="nav-link">Products</a>
                                    <a href="" class="nav-link">Catalogue PDF</a>
                                    <a href="{% url 'contact' %}" class="nav-link">Contact Us</a>
                                </nav>
                                <button class="menu-toggle" onclick="toggleMenu()">☰</button>
                            </div>
                        </header>
                         <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="{% url 'shop' %}" class="sf-with-ul">Products</a>


                                </li>

                                <li>
                                    <a href="blog.html" class="sf-with-ul">Product Catalog</a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                </div> -->
            </div>
        </header><!-- End .header -->

        {% block content %} {% endblock %}

        <footer class="footer" style="background-color: #021425;">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="assets/images/zelco/zelco logo.jpeg" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Inspiration is for amateurs. The rest of us just show up and get the work done. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>

	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a
                                        href="https://wa.me/{{ contact.phone_number|urlencode }}?text={{ contact.default_message|urlencode }}"
                                        class="social-icon"
                                        target="_blank"
                                        title="WhatsApp">
                                        <i class="icon-whatsapp" style="font-size: 48px;"></i>
                                    </a>

	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->


	            				<ul class="widget-list">
	            					<li><a href="{% url 'index' %}">Home</a></li>

	            					<li><a href="{% url 'about' %}">About Us</a></li>
	            					<li><a href="{% url 'contact' %}">Contact us</a></li>

	            				</ul><!-- End .widget-list -->
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2024 Zelco Industries. All Rights Reserved.</p><!-- End .footer-copyright -->

	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>






    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'assets/js/jquery.elevateZoom.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>


<!-- molla/product-centered.html  22 Nov 2019 10:03:20 GMT -->
</html>