{% extends "base.html" %}
{% load static %}

{% block content %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">{{product.category.name}}</a></li>
                        <li class="breadcrumb-item"><a href="#">{{product.slug}}</a></li>

                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top mb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="{{ product.image.url }}" data-zoom-image="assets/images/products/single/centered/1-big.jpg" alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <a class="product-gallery-item active" href="#" data-image="assets/images/zelco/zelco products.jpeg" data-zoom-image="assets/images/assets/images/zelco/zelco products.jpeg">
                                                <img src="{{ product.image.url }}" alt="product side">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="assets/images/products/single/centered/2.jpg" data-zoom-image="assets/images/products/single/centered/2-big.jpg">
                                                <img src="{{ product.image.url }}" alt="product cross">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="assets/images/products/zelco/zelco products.jpeg" data-zoom-image="assets/images/zelco/zelco products.jpeg">
                                                <img src="{{ product.image.url }}" alt="product with model">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="assets/images/zelco/zelco products.jpeg" data-zoom-image="assets/images/zelco/zelco products.jpeg">
                                                <img src="{{ product.image.url }}" alt="product back">
                                            </a>
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details product-details-centered">
                                    <h1 class="product-title">{{product.name}}</h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                       Ksh. {{product.price}}
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p>{{product.description}}</p>
                                    </div><!-- End .product-content -->

                                    {% comment %} <div class="details-filter-row details-row-size">
                                        <label>Color:</label>

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                        </div>
                                    </div><!-- End .details-filter-row --> {% endcomment %}

                                    {% comment %} <div class="details-filter-row details-row-size">
                                        <label for="size">Size:</label>
                                        <div class="select-custom">
                                            <select name="size" id="size" class="form-control">
                                                <option value="quantity" selected="selected">20 Litres</option>
                                                <option value="s">Small</option>

                                            </select>
                                        </div>

                                        <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a>
                                    </div><!-- End .details-filter-row --> {% endcomment %}

                                    <div class="product-details-action">
                                        <div class="details-action-col">
                                            <div class="product-details-quantity">
                                                <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                            </div><!-- End .product-details-quantity -->

                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .details-action-col -->


                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#">Undercoat</a>,
                                            <a href="#">Adhesive</a>,
                                            <a href="#">Walk Filler</a>
                                        </div><!-- End .product-cat -->

                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">Share:</span>
                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                        </div>
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>{{product.category.name}}</h3>
                                    <p> {{product.description}} </p>

                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->

                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->


                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


                    <h2 class="title text-center mb-3">Other Products</h2><!-- End .title -->

                    <div class="row">
                        {% for product in products%}
                        <div class="col-6 col-md-4 col-lg-3">

                            <div class="product product-3">
                                <figure class="product-media">
                                    <span class="product-label">Sale</span>
                                    <a href="{% url 'product_detail' slug=product.slug %}">
                                        <img src={{product.image.url}} alt="Product image" class="product-image">
                                    </a>

                                    {% comment %} <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action-vertical --> {% endcomment %}
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-action">
                                        <a href="{% url 'product_detail' slug=product.slug %}" class="btn-product btn-cart"><span>Read More</span></a>
                                    </div><!-- End .product-action -->
                                    <div class="product-cat">
                                        <a href="#">{{product.category}}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="{% url 'product_detail' slug=product.slug %}">{{product.name}}</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="new-price">Ksh{{product.price}}</span>
                                        <span class="old-price">Ksh. 984.00</span>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                                <div class="product-footer">
                                    <div class="ratings-container">

                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-thumbs">
                                        <a href="#" class="active">
                                            <img src="assets/images/products/elements/product-thumb-1.jpg" alt="product desc">
                                        </a>
                                        <a href="#">
                                            <img src="assets/images/products/elements/product-thumb-2.jpg" alt="product desc">
                                        </a>

                                        <a href="#">
                                            <img src="assets/images/products/elements/product-thumb-3.jpg" alt="product desc">
                                        </a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->

                        </div><!-- End .col-sm-6 col-lg-3 -->

                        {% endfor %}
                    </div><!-- End .row -->

{% endblock %}